<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'étudiant</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
    <input type="text" name="nom" placeholder="Nom" value="{{ etudiant.nom|default:'' }}">
    <input type="text" name="prenom" placeholder="Prénom" value="{{ etudiant.prenom|default:'' }}">
    <input type="email" name="email" placeholder="Email" value="{{ etudiant.email|default:'' }}">
    <input type="date" name="date_naissance" value="{{ etudiant.date_naissance|default:'' }}">
    <input type="text" name="classe" placeholder="Classe" value="{{ etudiant.classe|default:'' }}">
    <button type="submit">Enregistrer</button>
</form>
</body>
</html>