body {
  background: #F6F7FB;
  font-family: Inter;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  background: white;
  border-right: 1px solid #eee;
  padding: 20px;
}

.logo {
  font-family: Playfair Display;
  color: #B89B5E;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.nav-item {
  display: flex;
  gap: 10px;
  padding: 12px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
}

.nav-item:hover {
  background: #F6F7FB;
}

/* MAIN */
.main {
  margin-left: 240px;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* CARDS */
.card-pro {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* LOGIN */
.login-box {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}