<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des matieres </title>
</head>
<body>
    <h2>Liste des matières</h2>

    <a href="{% url 'ajouter_matiere' %}">Ajouter</a>

    <ul>
        {% for matiere in matieres %}
            <li>
                {{ matiere.nom }} (coef: {{ matiere.coefficient }}) - 
                Étudiant: {{ matiere.etudiant.nom }}

                <a href="{% url 'modifier_matiere' matiere.id %}">Modifier</a>
                <a href="{% url 'supprimer_matiere' matiere.id %}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>