<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des notes </title>
</head>
<body>
    {% extends "base.html" %}
{% block content %}

<div class="card-pro">
  <h4>Notes</h4>

  <table class="table">
    {% for n in notes %}
    <tr>
      <td>{{ n.etudiant }}</td>
      <td>{{ n.matiere }}</td>
      <td>{{ n.valeur }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
</body>
</html>