<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire</title>
</head>
<body>
   {% extends 'base_form.html' %}

{% block title %}Ajout Étudiant{% endblock %}

{% block content %}

<h3 class="form-title">Ajouter un étudiant</h3>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Nom</label>
        <input type="text" name="nom" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Prénom</label>
        <input type="text" name="prenom" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">
        Enregistrer
    </button>
</form>

{% endblock %}
</body>
</html>