<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Étudiants</title>
</head>
<body>
  {% extends "base.html" %}
{% block content %}

<div class="card-pro">
  <h4>Liste étudiants</h4>
  <a href="{% url 'users:ajouter' %}" class="btn btn-dark btn-sm">Ajouter</a>

  <table class="table mt-3">
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>

    {% for e in etudiants %}
    <tr>
      <td>{{ e.nom }}</td>
      <td>{{ e.email }}</td>
      <td>
        <a href="{% url 'users:modifier' e.id %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'notes:bulletin' e.id %}" class="btn btn-primary">Voir bulletin</a>
    </td>
    </tr>
    
    {% empty %}
    <tr>
      <td colspan="3" class="text-muted">Aucun étudiant enregistré</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
</body>
</html>
