<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Étudiants</title>
</head>
<body>
  {% extends 'base.html' %}

{% block title %}Étudiants{% endblock %}

{% block content %}

<div class="card shadow">
    <div class="card-body">

        <div class="d-flex justify-content-between mb-3">
            <h4>Liste des étudiants</h4>
            <a href="/etudiants/ajouter/" class="btn btn-success">
                ➕ Ajouter un étudiant
            </a>
        </div>
        
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.email }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary">✏️</a>
                        <a href="#" class="btn btn-sm btn-danger"
                           onclick="return confirm('Supprimer ?')">🗑️</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
</body>
</html>